@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
	font-family: 'Indie Flower', cursive;
}



#main-header {
	background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
	padding: 5px 15px;
	left: 0;
	top: 0;
	position: fixed;
	border: solid 2px black;
	border-radius: 15px;
}

.pregunta-1{
	margin-top:300px;
	width: 100%;
	background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
	border-radius: 15px;
	border: solid 1.5px black;
}

i{
	font-size: 5em;
}
.pregunta-2{
	margin-top: 20px;
	width: 100%;
	background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
	border-radius: 15px;
	border: solid 1.5px black;
}
.pregunta-3{
	margin-top: 20px;
	width: 100%;
	background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
	border-radius: 15px;
	border: solid 1.5px black;
}
.pregunta-4{
	margin-top: 20px;
	width: 100%;
	background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
	border-radius: 15px;
	border: solid 1.5px black;
}

.puntaje{
	width: 20%;
	background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: solid 1.5px black;
	border-radius: 15px;
	padding: 2px 3px 2px 2px;
	font-size: 2em;

}